@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-space), sans-serif;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 85px;
  }
}

/* Custom Scrollbar for Popups */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.05);
}

